Compiler errors on beta.14

Minimal test case only consist of

`rustc 1.58.0-nightly (dd549dcab 2021-11-25)`

Cargo.toml
```toml
[package]
name = "aa"
version = "0.1.0"
edition = "2018"

[dependencies]
actix-web = "=4.0.0-beta.14"
```

Cargo.lock https://bpa.st/XAYA

gives these errors:
```
error[E0432]: unresolved import `actix_http::header::IntoHeaderValue`
 --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/error/internal.rs:5:20
  |
5 |     header::{self, IntoHeaderValue as _},
  |                    ---------------^^^^^
  |                    |
  |                    no `IntoHeaderValue` in `header`
  |                    help: a similar name exists in the module: `TryIntoHeaderValue`

error[E0432]: unresolved import `actix_http::header::IntoHeaderValue`
  --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/error/response_error.rs:11:20
   |
11 |     header::{self, IntoHeaderValue},
   |                    ^^^^^^^^^^^^^^^
   |                    |
   |                    no `IntoHeaderValue` in `header`
   |                    help: a similar name exists in the module: `TryIntoHeaderValue`

error[E0432]: unresolved import `actix_http::header::IntoHeaderPair`
 --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/responder.rs:7:5
  |
7 |     header::IntoHeaderPair,
  |     ^^^^^^^^--------------
  |     |       |
  |     |       help: a similar name exists in the module: `TryIntoHeaderPair`
  |     no `IntoHeaderPair` in `header`

error[E0432]: unresolved imports `actix_http::header::IntoHeaderPair`, `actix_http::header::IntoHeaderValue`
  --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/response/builder.rs:12:32
   |
12 |     header::{self, HeaderName, IntoHeaderPair, IntoHeaderValue},
   |                                ^^^^^^^^^^^^^^  ^^^^^^^^^^^^^^^ no `IntoHeaderValue` in `header`
   |                                |
   |                                no `IntoHeaderPair` in `header`
   |
help: a similar name exists in the module
   |
12 |     header::{self, HeaderName, TryIntoHeaderPair, IntoHeaderValue},
   |                                ~~~~~~~~~~~~~~~~~
help: a similar name exists in the module
   |
12 |     header::{self, HeaderName, IntoHeaderPair, TryIntoHeaderValue},
   |                                                ~~~~~~~~~~~~~~~~~~

error[E0432]: unresolved import `actix_http::header::IntoHeaderPair`
 --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/test.rs:7:5
  |
7 |     header::IntoHeaderPair, test::TestRequest as HttpTestRequest, Extensions, Method, Request,
  |     ^^^^^^^^--------------
  |     |       |
  |     |       help: a similar name exists in the module: `TryIntoHeaderPair`
  |     no `IntoHeaderPair` in `header`

error[E0432]: unresolved import `super::IntoHeaderValue`
  --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/content_disposition.rs:17:36
   |
17 | use super::{ExtendedValue, Header, IntoHeaderValue, Writer};
   |                                    ^^^^^^^^^^^^^^^
   |                                    |
   |                                    no `IntoHeaderValue` in `http::header`
   |                                    help: a similar name exists in the module: `TryIntoHeaderValue`

error[E0432]: unresolved import `super::IntoHeaderValue`
 --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/content_range.rs:6:26
  |
6 | use super::{HeaderValue, IntoHeaderValue, InvalidHeaderValue, Writer, CONTENT_RANGE};
  |                          ^^^^^^^^^^^^^^^
  |                          |
  |                          no `IntoHeaderValue` in `http::header`
  |                          help: a similar name exists in the module: `TryIntoHeaderValue`

error[E0432]: unresolved import `super::IntoHeaderValue`
 --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/entity.rs:6:26
  |
6 | use super::{HeaderValue, IntoHeaderValue, InvalidHeaderValue, Writer};
  |                          ^^^^^^^^^^^^^^^
  |                          |
  |                          no `IntoHeaderValue` in `http::header`
  |                          help: a similar name exists in the module: `TryIntoHeaderValue`

error[E0432]: unresolved import `super::IntoHeaderValue`
 --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/if_range.rs:4:77
  |
4 |     from_one_raw_str, EntityTag, Header, HeaderName, HeaderValue, HttpDate, IntoHeaderValue,
  |                                                                             ^^^^^^^^^^^^^^^
  |                                                                             |
  |                                                                             no `IntoHeaderValue` in `http::header`
  |                                                                             help: a similar name exists in the module: `TryIntoHeaderValue`

error[E0432]: unresolved import `super::IntoHeaderValue`
 --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/range.rs:9:46
  |
9 | use super::{Header, HeaderName, HeaderValue, IntoHeaderValue, InvalidHeaderValue, Writer};
  |                                              ^^^^^^^^^^^^^^^
  |                                              |
  |                                              no `IntoHeaderValue` in `http::header`
  |                                              help: a similar name exists in the module: `TryIntoHeaderValue`

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:128:36
    |
128 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/accept.rs:8:1
    |
8   | / crate::http::header::common_header! {
9   | |     /// `Accept` header, defined
10  | |     /// in [RFC 7231 §5.3.2](https://datatracker.ietf.org/doc/html/rfc7231#section-5.3.2)
11  | |     ///
...   |
121 | |     }
122 | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:175:36
    |
175 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/accept_charset.rs:3:1
    |
3   | / crate::http::header::common_header! {
4   | |     /// `Accept-Charset` header, defined in
5   | |     /// [RFC 7231 §5.3.3](https://datatracker.ietf.org/doc/html/rfc7231#section-5.3.3)
6   | |     ///
...   |
60  | |     }
61  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:128:36
    |
128 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/accept_encoding.rs:6:1
    |
6   | / common_header! {
7   | |     /// `Accept-Encoding` header, defined
8   | |     /// in [RFC 7231](https://datatracker.ietf.org/doc/html/rfc7231#section-5.3.4)
9   | |     ///
...   |
80  | |     }
81  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:128:36
    |
128 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/accept_language.rs:6:1
    |
6   | / common_header! {
7   | |     /// `Accept-Language` header, defined
8   | |     /// in [RFC 7231 §5.3.5](https://datatracker.ietf.org/doc/html/rfc7231#section-5.3.5)
9   | |     ///
...   |
92  | |     }
93  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:128:36
    |
128 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/allow.rs:5:1
    |
5   | / crate::http::header::common_header! {
6   | |     /// `Allow` header, defined
7   | |     /// in [RFC 7231 §7.4.1](https://datatracker.ietf.org/doc/html/rfc7231#section-7.4.1)
8   | |     ///
...   |
74  | |     }
75  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:175:36
    |
175 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/cache_control.rs:6:1
    |
6   | / common_header! {
7   | |     /// `Cache-Control` header, defined
8   | |     /// in [RFC 7234 §5.2](https://datatracker.ietf.org/doc/html/rfc7234#section-5.2).
9   | |     ///
...   |
92  | |     }
93  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:175:36
    |
175 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/content_language.rs:5:1
    |
5   | / common_header! {
6   | |     /// `Content-Language` header, defined
7   | |     /// in [RFC 7231 §3.1.3.2](https://datatracker.ietf.org/doc/html/rfc7231#section-3.1.3.2)
8   | |     ///
...   |
53  | |     }
54  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/content_range.rs:9:1
    |
9   | / crate::http::header::common_header! {
10  | |     /// `Content-Range` header, defined
11  | |     /// in [RFC 7233 §4.2](https://datatracker.ietf.org/doc/html/rfc7233#section-4.2)
12  | |     (ContentRange, CONTENT_RANGE) => [ContentRangeSpec]
...   |
71  | |     }
72  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/content_type.rs:4:1
    |
4   | / crate::http::header::common_header! {
5   | |     /// `Content-Type` header, defined
6   | |     /// in [RFC 7231 §3.1.1.5](https://datatracker.ietf.org/doc/html/rfc7231#section-3.1.1.5)
7   | |     ///
...   |
56  | |     }
57  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/date.rs:4:1
    |
4   | / crate::http::header::common_header! {
5   | |     /// `Date` header, defined
6   | |     /// in [RFC 7231 §7.1.1.2](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.2)
7   | |     ///
...   |
35  | |     }
36  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/etag.rs:3:1
    |
3   | / crate::http::header::common_header! {
4   | |     /// `ETag` header, defined in
5   | |     /// [RFC 7232 §2.3](https://datatracker.ietf.org/doc/html/rfc7232#section-2.3)
6   | |     ///
...   |
97  | |     }
98  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/expires.rs:3:1
    |
3   | / crate::http::header::common_header! {
4   | |     /// `Expires` header, defined
5   | |     /// in [RFC 7234 §5.3](https://datatracker.ietf.org/doc/html/rfc7234#section-5.3)
6   | |     ///
...   |
40  | |     }
41  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:269:36
    |
269 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/if_match.rs:3:1
    |
3   | / common_header! {
4   | |     /// `If-Match` header, defined
5   | |     /// in [RFC 7232 §3.1](https://datatracker.ietf.org/doc/html/rfc7232#section-3.1)
6   | |     ///
...   |
66  | |     }
67  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/if_modified_since.rs:3:1
    |
3   | / crate::http::header::common_header! {
4   | |     /// `If-Modified-Since` header, defined
5   | |     /// in [RFC 7232 §3.3](https://datatracker.ietf.org/doc/html/rfc7232#section-3.3)
6   | |     ///
...   |
39  | |     }
40  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:269:36
    |
269 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/if_none_match.rs:3:1
    |
3   | / crate::http::header::common_header! {
4   | |     /// `If-None-Match` header, defined
5   | |     /// in [RFC 7232 §3.2](https://datatracker.ietf.org/doc/html/rfc7232#section-3.2)
6   | |     ///
...   |
60  | |     }
61  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/if_unmodified_since.rs:3:1
    |
3   | / crate::http::header::common_header! {
4   | |     /// `If-Unmodified-Since` header, defined
5   | |     /// in [RFC 7232 §3.4](https://datatracker.ietf.org/doc/html/rfc7232#section-3.4)
6   | |     ///
...   |
39  | |     }
40  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

error[E0405]: cannot find trait `IntoHeaderValue` in module `$crate::http::header`
   --> /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/macros.rs:214:36
    |
214 |           impl $crate::http::header::IntoHeaderValue for $id {
    |                                      ^^^^^^^^^^^^^^^ help: a trait with a similar name exists: `TryIntoHeaderValue`
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-http-3.0.0-beta.16/src/header/into_value.rs:10:1
    |
10  |   pub trait TryIntoHeaderValue: Sized {
    |   ----------------------------------- similarly named trait `TryIntoHeaderValue` defined here
    |
   ::: /home/erlend/.cargo/registry/src/github.com-1ecc6299db9ec823/actix-web-4.0.0-beta.14/src/http/header/last_modified.rs:3:1
    |
3   | / crate::http::header::common_header! {
4   | |     /// `Last-Modified` header, defined
5   | |     /// in [RFC 7232 §2.2](https://datatracker.ietf.org/doc/html/rfc7232#section-2.2)
6   | |     ///
...   |
38  | |     }
39  | | }
    | |_- in this macro invocation
    |
    = note: this error originates in the macro `crate::http::header::common_header` (in Nightly builds, run with -Z macro-backtrace for more info)

Some errors have detailed explanations: E0405, E0432.
For more information about an error, try `rustc --explain E0405`.
error: could not compile `actix-web` due to 27 previous errors
```

pinning the -web dep is not enough to guarantee compilation

```toml
actix-web = "=4.0.0-beta.14"
actix-http = "=3.0.0-beta.15"
```

Thanks! 
shouldn't it be pinned in actix-web Cargo.toml?

Not all updates are breaking and keeping those versions up to date would be a lot more work for the team between the ~14 or so crates we manage, 9 of which are in pre-release atm.