`ContentDisposition::from_raw` incorrectly handles extended parameters according to RFC 7578 Section 4.2

[RFC 7578, "Returning Values from Forms: multipart/form-data", in Section 4.2](https://tools.ietf.org/html/rfc7578#section-4.2), states:
> NOTE: The encoding method described in [RFC5987], which would add a "filename*" parameter to the Content-Disposition header field, MUST NOT be used.

This is in reference to [RFC 5987, "Character Set and Language Encoding for Hypertext Transfer Protocol (HTTP) Header Field Parameters"](https://tools.ietf.org/html/rfc5987#section-3.1), which adds the extended format (with the asterisk) for all parameters. In other words, all extended parameters except `filename*` should be allowed.

However, [`ContentDisposition::from_raw`](https://github.com/actix/actix-web/blob/0c8196f8b07022e56fb4f967c26426cd3076ffdf/actix-http/src/header/common/content_disposition.rs#L327-L331) does the opposite, allowing only `filename*` and no other extended parameter.

Related: [a similar issue in reqwest](https://github.com/seanmonstar/reqwest/issues/419)


Hello, Ontonator.

> However, ContentDisposition::from_raw does the opposite, allowing only filename*...

`ContentDisposition` is compatible to be used either as [a response header for the main body](https://mdn.io/Content-Disposition#As_a_response_header_for_the_main_body) as (re)defined in [RFC6266](https://tools.ietf.org/html/rfc6266), or as  [a header for a multipart body](https://mdn.io/Content-Disposition#As_a_header_for_a_multipart_body) as (re)defined in [RFC7587](https://tools.ietf.org/html/rfc7578), by design. So `ContentDisposition::from_raw` allows `filename*` without rejecting. 

Besides, from the perspective of code structure, I think it is the responsibility of the implementation of multipart handling & form upload processing (i.e. [actix-multipart](https://github.com/actix/actix-web/tree/master/actix-multipart)) to reject on non-compliance field, although it would also be fine to be tolerant against such case hence it seems not (?) to introduce incompatibility. 

---

> ... and no other extended parameter.

It should also [parse any other extended parameters correctly](https://github.com/actix/actix-web/blob/0c8196f8b07022e56fb4f967c26426cd3076ffdf/actix-http/src/header/common/content_disposition.rs#L330).

The only difference is: for `filename*=UTF-8''FOOBAR`, it produces a `FilenameExt("FOOBAR")`, while for `someother*=UTF-8''BARFOO`, it produces `UnknownExt("someother", "BARFOO")`. 

Here, [`UnknownExt`](https://github.com/actix/actix-web/blob/0c8196f8b07022e56fb4f967c26426cd3076ffdf/actix-http/src/header/common/content_disposition.rs#L97) indicates [an unrecognizable extended asterisk-annotated parameter](https://github.com/actix/actix-web/blob/0c8196f8b07022e56fb4f967c26426cd3076ffdf/actix-http/src/header/common/content_disposition.rs#L93). If necessary, it can recognize extended parameters by adding more variants of `DispositionParam` and updating `Content-Disposition::from_raw` accordingly. But even if it is unrecognized, it is still valid and available for subsequent processing by users.

---

> Related: a similar issue in request

https://github.com/seanmonstar/reqwest/issues/419 looks like another problem noted here:

https://github.com/actix/actix-web/blob/0c8196f8b07022e56fb4f967c26426cd3076ffdf/actix-http/src/header/common/content_disposition.rs#L826
https://github.com/actix/actix-web/blob/0c8196f8b07022e56fb4f967c26426cd3076ffdf/actix-http/src/header/common/content_disposition.rs#L752


(These code is roughly 2 y.o. So I might not recall the details correctly. Please let me know if you find something wrong or confusing.)

I see what you are saying. I guess I misinterpreted the doc string for `get_name()`, expecting it to get the extended version of the name as well. I do think it is strange that there is a special case for the extended version of the filename, but not for the extended version of name, although changing it now would be a breaking change. I interpreted this as a bug, in which case the breaking change would be acceptable, but if this is considered the intended behaviour, then I think there is nothing that can be done.

I am assuming you are using `get_name` to get names of form fields of a `multipart/form-data` message.

>  but not for the extended version of name,

I suppose your expectation is reasonable. But the reason why `the extended version of name` does not exist is there seems not to be actual usage of `name*` (http://test.greenbytes.de/tech/tc2231/).

Also, I just find the statement in RFC 5987 section 1: 
>      Note: this encoding does not apply to message payloads transmitted
>      over HTTP, such as when using the media type "multipart/form-data"
>      ([RFC2388]).
It appears that not only `filename*`, but also any asterisk-annotated parameter names are only valid for `Content-Disposition` header in HTTP responses and not allowed in `multipart/form-data` payload. That is, `name*` is invalid in such a case.

Update: Then `get_filename_ext` is only meaningful when parsing an HTTP response header other than a `multipart/form-data` payload entry. We can complement the doc comment just like [here](https://github.com/actix/actix-web/blob/0c8196f8b07022e56fb4f967c26426cd3076ffdf/actix-http/src/header/common/content_disposition.rs#L85) to reduce confusion.

---

`get_foobar` (i.e. `get_filename` for now) does not search for both a plain `filename` parameter and a `filename*` extended parameter because it might not be desired to perform unnecessary and somewhat incompliant work for `multipart/form-data` where `filename*` is a `MUST NOT`. 

The [auto fallback mechanism](https://tools.ietf.org/html/rfc6266#section-4.3) can be implemented in a form processing module seperately. Certainly, we can also introduce something like `get_filename_with_fallback` / `get_filename_auto` (or a better name) with proper doc comments to elaborate on the standard-compliance problem.

I ran into this when using reqwest to build `multipart/form-data` requests where the name fields had forward slashes in them. It isn’t necessary for it to uses the extended encoding to encode forward slashes, but I thought maybe they were just being overly cautious of bad parser implementations on the server side. Perhaps I should report this over there, if it really isn’t allowed by the spec.

I realise now that `get_foobar()` doesn’t get the extended version. What I was referring to in my previous comment was that adding a `DispositionParam::NameExt` variant and a `get_name_ext()` method would be a breaking change.

Not sure whether I understand or not. But the current implementation of actix should have accepted `/` in the name field (even though I am not sure whether `/` is standard-compliant or not).

Do you have an example code written with reqwest to reproduce it?

--- 

Update: I think you are right about it. At a first quick glance, https://github.com/seanmonstar/reqwest/blob/a8566383168c0ef06c21f38cbc9213af6ff6db31/src/async_impl/multipart.rs#L497 incorrectly uses asterisk-annotated parameters (`name*`) within `Content-Disposition: form-data`, if I do understand RFC 5987 section 1 correctly. 

To clarify, actix does indeed handle `/` correctly in the name parameter, but reqwest automatically chooses to use the extended name parameter due to the issue that you have identified in your update.

Got it. Thanks. :-)

I've created an issue in the reqwest repository, and since actix does seem to be handling everything correctly, I'll close this issue.