Invalid handling of "Content-Encoding: deflate"

When sending a zlib compressed payload into actix-web with `Content-Encoding: deflate`, it errors with _"error that occur during reading payload: deflate decompression error"_. This is due to the fact that it tries to decode with `DeflateDecoder` instead of `ZlibDecoder`.

The HTTP spec ([RFC 7230, Section 4.2.2](https://tools.ietf.org/html/rfc7230#section-4.2.2)) defines the `deflate` content encoding as:
> a "zlib" data format [[RFC1950](https://tools.ietf.org/html/rfc1950)] containing a "deflate" compressed data stream [[RFC1951](https://tools.ietf.org/html/rfc1951)]"

It ultimately boils down to bad naming of the header value, but raw deflate streams lacking the zlib header and checksum appendix were never meant to be supported. I think it is therefore a bug to expect or even support raw deflate in this case, and actix-web should instead use `ZlibDecoder` and `ZlibEncoder` for both input and output, respectively.
